<footer class="footer-distributed">
    
    <div class="footer-right">
        <!--
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        -->
        <a href="https://www.linkedin.com/in/adil-mounjid/" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://bitbucket.org/BlurredDev/" target="_blank" ><i class="fa fa-bitbucket"></i></a>
    </div>

    <div class="footer-left">

        <p class="footer-links">
            <a href="<!-- @@var homelink -->" >Accueil</a>
            <a href="<!-- @@var aboutlink -->" >A propos</a>
        </p>

        <p>Adil Mounjid © Copyright 2017</p>
    </div>

</footer>