<meta charset="UTF-8" />
<title>
    <!-- @@var title -->
</title>
<link rel="stylesheet" href="<!-- @@var csspath -->assets/css/styles.min.css">
<link rel="stylesheet" href="<!-- @@var csspath -->assets/css/footer.min.css">
<link rel="stylesheet" href="<!-- @@var csspath -->assets/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<script type="text/javascript" src="<!-- @@var path -->assets/js/jquery.min.js"></script>
<script type="text/javascript" src="<!-- @@var path -->assets/js/global.min.js"></script>
<script type="text/javascript" src="<!-- @@var path -->assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="<!-- @@var path -->assets/js/sweetalert.min.js"></script>