@sanjuan:   #2A4C6A;
@onahau:    #D1FAFF;
@regent:    #9BD1E5;
@sands:     #E5F2C9;
@thunder:   #30292F;

.footer-distributed{
    border-color: @sands;
	background-color: @thunder;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;

	padding: 45px 50px;
	margin-top: 80px;
    .footer-left p{
	color: @sanjuan;
	font-size: 14px;
	margin: 0;
        footer-links{
	    font-size:18px;
	    font-weight: bold;
	    color: @onahau;
	    margin: 0 0 10px;
	    padding: 0;
            a{
	        display:inline-block;
	        line-height: 1.8;
	        text-decoration: none;
	        color:  inherit;
            }   
        }  
    }


 .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
        a{
	    display: inline-block;
	    width: 35px;
	    height: 35px;
	    background-color: @sanjuan;
	    border-radius: 2px;
	    font-size: 20px;
	    color: @sands;
	    text-align: center;
	    line-height: 35px;
	    margin-left: 3px;
        }
    }
}

@media (max-width: 600px) {

	 .footer-left,
	 .footer-right{
		text-align: center;
	}

	 .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	 .footer-left p.footer-links{
		line-height: 1.8;
	}
}
