@sanjuan:   #2A4C6A;
@onahau:    #D1FAFF;
@regent:    #9BD1E5;
@sands:     #E5F2C9;
@thunder:   #30292F;
@radius: 12px;
body{
    background-image: url('../img/woodplankbackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    overflow:hidden;
}

#sphere{
    float:left;
    width: 50;
    height:80%;
    z-index: 50%;
}
.main-container{
    height: 100% !important
}
.header-container{
    margin-top: 10px;
    position:fixed;
    display:inline-block;
    height: 25%;
    top: 10px;
    -moz-border-radius:@radius;
    -webkit-border-radius:@radius;
    border-radius:@radius;
    width:inherit;
    img{
    -moz-border-radius:@radius;
    -webkit-border-radius:@radius;
    border-radius:@radius;
        width: 100%;
        max-height: 100%;
        overflow: hidden;
    }    
}
.content-container{
    position: absolute;
    top:25%;
    margin-top: 30px;
    display:inline-block;
    width:inherit;
    height: 100% !important;
    max-height: 100%;
    .carousel-container{
        height: 400px;
        width:auto;
        .carousel{
            overflow:hidden;
            height:100%;
            max-height:100%;
            .carousel-inner > .item > img {
            width:100% !important;
            height:100% !important;
            max-height:100% !important;
            }
            .arrow > i{
                margin-top: 80%;
            }
        } 
    }
}
.footer-container{
display:inline-block;
position:fixed;
   bottom:0px;
width:inherit;
}

.panel{
    border-color: @sands !important;
    -moz-border-radius:@radius;
    -webkit-border-radius:@radius;
    border-radius:@radius;
    background-color: @onahau !important;
    height: 100% !important;
}

#descTitle{
    -moz-border-radius:@radius;
    -webkit-border-radius:@radius;
    border-radius:@radius;
    background-color: @sanjuan;
    color:@onahau;
}
#desc{
    -moz-border-radius:@radius;
    -webkit-border-radius:@radius;
    border-radius:@radius;
    background-color:@thunder;
    color: @sands;
}