.footer-distributed {
  font: normal 16px sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-top: 80px;
  padding: 45px 50px;
  text-align: left;
  border-color: #e5f2c9;
  background-color: #30292f;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .12);
}

.footer-distributed .footer-left p {
  font-size: 14px;
  margin: 0;
  color: #2a4c6a;
}

.footer-distributed .footer-left p footer-links {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px;
  padding: 0;
  color: #d1faff;
}

.footer-distributed .footer-left p footer-links a {
  line-height: 1.8;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-right {
  float: right;
  max-width: 180px;
  margin-top: 6px;
}

.footer-distributed .footer-right a {
  font-size: 20px;
  line-height: 35px;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-left: 3px;
  text-align: center;
  color: #e5f2c9;
  border-radius: 2px;
  background-color: #2a4c6a;
}

@media (max-width: 600px) {
  .footer-left,
    .footer-right {
    text-align: center;
  }

  .footer-right {
    float: none;
    margin: 0 auto 20px;
  }

  .footer-left p.footer-links {
    line-height: 1.8;
  }
}
