body {
  overflow: hidden;
  background-image: url('../img/woodplankbackground.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#sphere {
  z-index: 50%;
  float: left;
  width: 50;
  height: 80%;
}

.main-container {
  height: 100% !important;
}

.header-container {
  position: fixed;
  top: 10px;
  display: inline-block;
  width: inherit;
  height: 25%;
  margin-top: 10px;
  border-radius: 12px;
}

.header-container img {
  overflow: hidden;
  width: 100%;
  max-height: 100%;
  border-radius: 12px;
}

.content-container {
  position: absolute;
  top: 25%;
  display: inline-block;
  width: inherit;
  height: 100% !important;
  max-height: 100%;
  margin-top: 30px;
}

.content-container .carousel-container {
  width: auto;
  height: 400px;
}

.content-container .carousel-container .carousel {
  overflow: hidden;
  height: 100%;
  max-height: 100%;
}

.content-container .carousel-container .carousel .carousel-inner > .item > img {
  width: 100% !important;
  height: 100% !important;
  max-height: 100% !important;
}

.content-container .carousel-container .carousel .arrow > i {
  margin-top: 80%;
}

.footer-container {
  position: fixed;
  bottom: 0;
  display: inline-block;
  width: inherit;
}

.panel {
  height: 100% !important;
  border-color: #e5f2c9 !important;
  border-radius: 12px;
  background-color: #d1faff !important;
}

#descTitle {
  color: #d1faff;
  border-radius: 12px;
  background-color: #2a4c6a;
}

#desc {
  color: #e5f2c9;
  border-radius: 12px;
  background-color: #30292f;
}
